body{
  background-color: rgb(190, 180, 180);
}
 h2{
  text-align: center;
  margin-top: 20px;
}

#answer{
  color: red;
  text-decoration: underline;
}
img{
 display: none;
 width: 50%;
 height: auto;
}
#img-container{
  display: flex;
  justify-content: center;
}